.geo-address-coder 
    position relative
    background: white;
    z-index: 99
    padding:10px
    border-radius:10px;
    box-shadow:0 5px 10px 0 rgba(114, 124, 245, .5)

    .inputArea
        padding: 2px
    .btn
        position: relative
        padding: 2px 0px 0 0px;