.float-card
  position: absolute
  padding: 1em
  background: white
  z-index: 200
  font-size: 12px
  box-shadow: 0px 0px 5px #ccc
  .position-top
    position: absolute;
    top: -7px;
    right: -5px;
    color: red;
  .position-bottom
    position: absolute;
    bottom: -7px;
    right: -5px;
    color: red;