.fui-filter-side-bar
   .sub-header
        display: flex;
        align-items: center;
        span:first-child
            margin-right: 10px;
    .ant-card-body
        padding: 0 5px;
    .ant-card-head
        padding: 0 12px;
        margin-bottom: 0px;
