.geo-address-coder 
    position relative
    background: white;
    z-index: 99
    padding:10px
    border-radius:10px;
    box-shadow:0 5px 10px 0 rgba(114, 124, 245, .5)
    .input-geo-address
        padding: 2px
        // height:200px
    .btn
        position: relative
        padding: 2px 0px 0 2px;